.footer {
    color: white;
    background-color: rgba(0, 0, 88, 1);
    padding: 1rem;
    @include mediaQuery(phone6) {
        font-size: .5rem;
    }
    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-copy {
        font-size: 2rem;
        margin-bottom: .5rem;
        @include mediaQuery(phone6) {
            font-size: 1rem;
        }
    }
}